<section class="main-content-container">
    @if (showVideo()) {
    <app-video-item [video]="videoToPlay()" (favoriteVideosUpdated)="updateFavorite()"
        (closeVideoClick)="showVideo.set($event)" />
    }
    <app-main-content-header />
    <div class="main-video-content">
        @if (favoriteVideos().length > 0) {
        <div class="video-content-category-container">
            <h1>My Favorite</h1>
            <div class="video-content-category">
                @if (visibleArrows()['favorite']) {
                <div class="arrowLeft">
                    <button (click)="scrollLeft('favorite')">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                </div>
                }
                <div class="video-content-category-scroll" #favoriteScrollContainer [attr.data-category]="'favorite'">
                    @for (video of favoriteVideos(); track $index) {
                    <div class="video-content-item" (click)="handleVideoClick(true, video)">
                        <img [src]="'http://127.0.0.1:8000/' + video.image_file" alt="Video">
                    </div>
                    }
                </div>
                @if (visibleArrows()['favorite']) {
                <div class="arrowRight">
                    <button (click)="scrollRight('favorite')">
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
                }
            </div>
        </div>
        }
        @for (videos of groupedVideos() | keyvalue; track $index) {
        <div class="video-content-category-container">
            <h1>{{ videos.key }}</h1>
            <div class="video-content-category">
                @if (visibleArrows()[videos.key]) {
                <div class="arrowLeft">
                    <button (click)="scrollLeft($index)">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                </div>
                }
                <div class="video-content-category-scroll" #scrollContainer [attr.data-category]="videos.key">
                    @for (video of groupedVideos()[videos.key]; track $index) {
                    <div class="video-content-item" (click)="handleVideoClick(true, video)">
                        <img [src]="'http://127.0.0.1:8000/' + video.image_file" alt="Video">
                    </div>
                    }
                </div>
                @if (visibleArrows()[videos.key]){
                <div class="arrowRight">
                    <button (click)="scrollRight($index)">
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
                }
            </div>
        </div>
        }
    </div>
</section>