<section class="forgot-password-container">
    @if (emailIsSent()) {
    <app-check-email [email]="email()" />
    }@else {
    <div class="reset-form-container">
        <h1>Forgot your password?</h1>
        <div class="reset-password-subtitle">We will send you an email with instructions to reset your password.</div>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="input-container">
                <input type="email" formControlName="email" placeholder="Email Address">
            </div>
            @if (forgotPasswordForm.invalid && forgotPasswordForm.touched && forgotPasswordForm.dirty) {
            <p>
                <i class="fa-solid fa-triangle-exclamation"></i>
                Email is invalid.
            </p>
            }
            <button type="submit" [disabled]="forgotPasswordForm.invalid">
                @if (isSubmitLoading()) {
                <app-loading-spinner></app-loading-spinner>
                }@else {
                Send Email
                }
            </button>
        </form>
    </div>
    }
</section>