<section class="forgot-password-container">
    <div class="reset-form-container">
        <h1>Forgot your password?</h1>
        <div class="reset-password-subtitle">We will send you an email with instructions to reset your password.</div>
        <form action="">
            <div class="input-container">
                <input type="email" placeholder="Email Address">
            </div>
            @if (error) {
            <p>
                <i class="fa-solid fa-triangle-exclamation"></i>
                Email is invalid.
            </p>
            }
            <button type="button" disabled>Send Email</button>
        </form>
    </div>
</section>