@import '../../../styles.scss';

:host {
    display: flex;
    justify-content: center;
    align-items: center;

    .success-full-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem 2rem;
        background-color: white;
        border-radius: 48px;

        .signup-form-feedback {
            width: 100%;
            text-align: justify;
            font-size: 1rem;
            color: $purple;
        }

        .signup-form-feedback-icon-container {
            color: $purple-light;
            font-size: 10rem;
        }
    }
}