<section class="imprint">
    <div class="imprint-container">
        <h1>Imprint</h1>
        <div class="imprint-content">
            <div class="imprint-name">Velizar Ganchev</div>
            <div class="imprint-address">
                <p>Schlehengrund 5</p>
                <p>59597 Erwitte</p>
            </div>
        </div>
        <div class="imprint-contact">
            <h4>Contact</h4>
            <p>Email: <a href="mailto:info&#64;velizar-ganchev.com">info&#64;velizar-ganchev.com</a></p>
        </div>
    </div>
</section>