<div class="start-site-container">
    <div class="start-site-content">
        <div class="start-site-text">
            <h1>Movies, TV shows, and more</h1>
            <h4>Enter your email to create or restart your subscription.</h4>
        </div>
        <div class="start-site-form-container">
            <form>
                <input type="text" placeholder="Email address" />
                <button routerLink="/signup">
                    Sign Up
                    <img src="../../../assets/icons/arrow_right.png" />
                </button>
            </form>
        </div>
    </div>
</div>