.login-container {
    height: 100vh;
    background-image: linear-gradient(rgba(20, 20, 20, 0.6) 0%,
            rgba(20, 20, 20, 1) 100%), url('/assets/images/shared-bg-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}