<section class="login-container">
    <div class="login-form-container">
        <h1>Log in</h1>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <div class="input-container">
                <input type="email" name="email" ngModel required email #email="ngModel" placeholder="Email Address">
            </div>
            <div class="input-container">
                <input [type]="showPassword() ? 'text' : 'password'" name="password" ngModel required minlength="6"
                    #password="ngModel" placeholder="Enter a Password">
                <button type="button" (click)="togglePasswordVisibility('password')">
                    @if (!showPassword()){
                    <i class="fa-solid fa-eye-slash"></i>
                    }@else {
                    <i class="fa-regular fa-eye"></i>
                    }
                </button>
            </div>
            @if (loginForm.form.invalid && email.touched &&
            password.touched) {
            <p>
                <i class="fa-solid fa-triangle-exclamation"></i>
                Email or Password is invalid.
            </p>
            }@else {
            <p></p>
            }

            <div class="remember-me-container">
                <input type="checkbox" id="remember-me" [(ngModel)]="rememberMe" name="rememberMe">
                <label for="remember-me">Remember me</label>
            </div>
            <button type="submit" [disabled]="loginForm.form.invalid">
                @if (isloading()) {
                <app-loading-spinner />
                }@else { Log in }
            </button>
            <div class="login-links-container">
                <div class="link-container">
                    <a routerLink="/forgot-password">Forgot Password?</a>
                </div>
                <div class="link-container">
                    <span>New to Videoflix?</span>
                    <a routerLink="/signup">Sign Up now</a>
                </div>
            </div>
        </form>
    </div>
</section>