@import '../../../../styles.scss';

.main-content-header {
    position: relative;

    .video-preview-container {
        position: relative;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

        .bg-video {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }

        .video-preview-info {
            display: flex;
            flex-direction: column;

            gap: 2rem;
            width: 27rem;
            color: white;
            position: absolute;
            top: 20%;
            left: 5%;

            h1 {
                font-size: 5.5rem;
                font-weight: 700;
                margin: 0;
            }

            .video-preview-info-text {
                font-size: 1rem;
                font-weight: 400;
            }

            button {
                color: white;
                width: fit-content;
                background-color: $purple;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.25rem;

                &:hover {
                    background-color: darken($purple, 15%);
                    border: 1px solid white;
                }
            }

        }
    }

    .preview-video-container {
        position: fixed;
        background-color: black;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2000;

        .preview-video-close {
            position: absolute;
            background-color: transparent;
            top: 1rem;
            right: 1rem;
            color: white;
            font-size: 2rem;
            cursor: pointer;
            z-index: 2001;

            &:hover {
                color: darken(white, 40%);
            }
        }

        .preview-video {
            width: 100%;
            height: 100vh;
        }
    }
}

.hide-scroll {
    overflow: hidden !important;
}