@import '../../../styles.scss';

$nav-height: 6.6rem;
$nav-padding: 2.4rem;
$transition-duration: 0.3s;

:host {
    width: 100%;
    max-width: 1920px;
    height: $nav-height;
    display: flex;
    position: fixed;
    z-index: 1000;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 $nav-padding;
        background-color: transparent;
        color: white;
        transition: background-color $transition-duration ease;

        .login-btn,
        .logout-btn {
            font-size: 1rem;
            font-weight: 700;
            color: white;
            background-color: $purple;
            transition: background-color $transition-duration ease, border $transition-duration ease;

            &:hover {
                background-color: darken($purple, 10%);
                border: 1px solid white;
            }
        }
    }
}

.navigation--scrolled {
    backdrop-filter: contrast(0.8);
}