<section class="signup-container">
  <div class="signup-form-container">
    <h1>Sign Up</h1>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="input-container">
        <input
          type="email"
          placeholder="Email Address"
          formControlName="email"
        />
      </div>
      <div class="passwords-cpntainer" formGroupName="passwords">
        <div class="input-container">
          <input
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            placeholder="Enter a Password"
          />
          <button type="button" (click)="togglePasswordVisibility('password')">
            @if (!showPassword){
            <i class="fa-solid fa-eye-slash"></i>
            }@else {
            <i class="fa-regular fa-eye"></i>
            }
          </button>
        </div>
        <div class="input-container">
          <input
            formControlName="confirmPassword"
            [type]="showConfirmPassword ? 'text' : 'password'"
            placeholder="Confirm Password"
          />
          <button
            type="button"
            (click)="togglePasswordVisibility('confirmPassword')"
          >
            @if (!showConfirmPassword){
            <i class="fa-solid fa-eye-slash"></i>
            }@else {
            <i class="fa-regular fa-eye"></i>
            }
          </button>
        </div>
        @if (signupForm.invalid && signupForm.touched) {
        <p>
          <i class="fa-solid fa-triangle-exclamation"></i>
          Passwords must match.
        </p>
        }
      </div>
      <button type="submit">Get Started</button>
    </form>
  </div>
  <!-- <div class="signup-form-container w-40">
        <div class="signup-form-feedback">
            <p>Dear Test, Please go to your email inbox gveli&#64;myyahoo.com and click on the received activation link
                to
                confirm and complete your registration.
                Note: Check your spam folder!</p>
        </div>
        <div class="signup-form-feedback-icon-container">
            <i class="fa-solid fa-envelope-open-text"></i>
        </div>
    </div> -->
</section>
