<section class="signup-container">
    <div class="signup-form-container">
        <h1>Sign Up</h1>
        <form action="">
            <div class="input-container">
                <input type="email" placeholder="Email Address">
            </div>
            @if (error) {
            <p>
                <i class="fa-solid fa-triangle-exclamation"></i>
                Email is invalid.
            </p>
            }
            <div class="input-container">
                <input [type]="showPassword ? 'text' : 'password'" placeholder="Enter a Password">
                <button type="button" (click)="togglePasswordVisibility('password')">
                    @if (!showPassword){
                    <i class="fa-solid fa-eye-slash"></i>
                    }@else {
                    <i class="fa-regular fa-eye"></i>
                    }
                </button>
            </div>
            @if (error) {
            <p>
                <i class="fa-solid fa-triangle-exclamation"></i>
                Password is invalid.
            </p>
            }
            <div class="input-container">
                <input [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirm Password">
                <button type="button" (click)="togglePasswordVisibility('confirmPassword')">
                    @if (!showConfirmPassword){
                    <i class="fa-solid fa-eye-slash"></i>
                    }@else {
                    <i class="fa-regular fa-eye"></i>
                    }
                </button>
            </div>
            @if (error) {
            <p>
                <i class="fa-solid fa-triangle-exclamation"></i>
                Passwords must match.
            </p>
            }
            <button>Get Started</button>
        </form>
    </div>
</section>