@import '../../../styles.scss';

footer {
    width: 100%;
    background-color: transparent;
    height: 4.6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: black;


    .footer-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        color: white;
        font-size: 1.2rem;
        font-weight: 500;
        text-decoration: none;
        padding-right: 2rem;

        a {
            color: white;
            text-decoration: none;

            &:hover {
                color: $purple;
            }
        }
    }
}