<section class="video-item-wrapper">
    @if (video()) {
    <div class="video-item">
        <div class="header"
            [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(' + getImageUrl() + ')'}">
            <div class="back-button" (click)="handleBackClick(false)">
                <i class="fa-solid fa-arrow-left"></i>
            </div>
            <div class="video-item-info">
                <div class="video-item-info-title">
                    <h3>{{ video()?.title }}</h3>
                    @if (isInFavorite()) {
                    <i class="fa-solid fa-star" (click)="onHandleFavorite(video()!.id)"></i>
                    }@else {
                    <i class="fa-regular fa-star" (click)="onHandleFavorite(video()!.id)"></i>
                    }
                </div>
                <p class="info">{{ video()?.description}}</p>
            </div>
        </div>
        <video class="main-video" controls>
            <source *ngIf="getVideoUrl(3)" [src]="getVideoUrl(3)" type="video/mp4" label="1080p" />
            <source *ngIf="getVideoUrl(2)" [src]="getVideoUrl(2)" type="video/mp4" label="720p" />
            <source *ngIf="getVideoUrl(1)" [src]="getVideoUrl(1)" type="video/mp4" label="360p" />
            <source *ngIf="getVideoUrl(0)" [src]="getVideoUrl(0)" type="video/mp4" label="120p" />
        </video>
    </div>
    }
</section>