<section class="video-item-wrapper">
    <div class="video-item">
        <div class="header">
            <div class="back-button" (click)="handleBackClick(1)">
                <i class="fa-solid fa-arrow-left"></i>
            </div>
        </div>
        <div class="video-item-info">
            <div class="video-item-info-title">
                <h3>Video Description</h3>
                <i class="fa-regular fa-star"></i>
                <!-- <i class="fa-solid fa-star"></i> -->
            </div>
            <p class="info">As the sun sets, the city comes alive with energy. Lights flicker, streets buzz, and the
                heartbeat of New York pulses through the night, revealing a city that never sleeps.</p>
        </div>
        <video class="main-video" controls>
            <source src="assets/videos/test-video.mp4" type="video/mp4" />

            Download the
            <a href="/media/cc0-videos/flower.webm">WEBM</a>
            or
            <a href="/media/cc0-videos/flower.mp4">MP4</a>
            video.
        </video>
    </div>
</section>