:host {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20000;
    cursor: pointer;

    .video-item-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .video-item {
            max-width: 640px;
            height: 95%;
            border: none;
            border-radius: 10px;
            display: flex;
            flex-direction: column;

            .header {
                position: relative;
                width: 100%;
                height: 30%;
                // background-image: url('/assets/images/48-hours.jpg');
                background-size: cover;
                background-position: center;
                border: none;
                border-radius: 10px 10px 0 0;

                .back-button {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;

                    i {
                        font-size: 2rem;
                        color: white;
                    }
                }
            }

            .video-item-info {
                color: white;
                background-color: #272727;

                .video-item-info-title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1rem;
                    font-size: 1.5rem;
                    font-weight: 700;

                    h3 {
                        margin: 0;
                        padding: 0s;
                    }

                    i {
                        color: gold;
                    }
                }

                p {
                    padding: 0 0.5rem;
                    font-size: 1rem;
                    font-weight: 400;
                }
            }

            .main-video {
                width: 100%;
                border-radius: 0 0 10px 10px;
            }
        }
    }
}