<section class="reset-password-container">
    <div class="reset-form-container">
        <h1>Reset password</h1>
        <div class="reset-password-subtitle">Create a new password for your <span>Videoflix</span> account.</div>
        <form action="">
            <div class="input-container">
                <input [type]="showPassword ? 'text' : 'password'" placeholder="Enter a Password">
                <button type="button" (click)="togglePasswordVisibility('password')">
                    @if (!showPassword){
                    <i class="fa-solid fa-eye-slash"></i>
                    }@else {
                    <i class="fa-regular fa-eye"></i>
                    }
                </button>
            </div>
            @if (error) {
            <p>
                <i class="fa-solid fa-triangle-exclamation"></i>
                Password is invalid.
            </p>
            }
            <div class="input-container">
                <input [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirm Password">
                <button type="button" (click)="togglePasswordVisibility('confirmPassword')">
                    @if (!showConfirmPassword){
                    <i class="fa-solid fa-eye-slash"></i>
                    }@else {
                    <i class="fa-regular fa-eye"></i>
                    }
                </button>
            </div>
            @if (error) {
            <p>
                <i class="fa-solid fa-triangle-exclamation"></i>
                Passwords must match.
            </p>
            }
            <button disabled>Reset my password</button>
        </form>
    </div>
</section>