<section class="reset-password-container">
    <div class="reset-form-container">
        <h1>Reset password</h1>
        <div class="reset-password-subtitle">
            Create a new password for your <span>Videoflix</span> account.
        </div>

        <form [formGroup]="resetPasswordForm" (submit)="resetPassword()">

            <div class="input-container">
                <input [type]="showPassword() ? 'text' : 'password'" formControlName="password"
                    placeholder="Enter a Password" autocomplete="off" autocorrect="off" autocapitalize="off"
                    spellcheck="false">
                <button type="button" (click)="togglePasswordVisibility('password')">
                    @if (!showPassword()){
                    <i class="fa-solid fa-eye-slash"></i>
                    } @else {
                    <i class="fa-regular fa-eye"></i>
                    }
                </button>
            </div>

            @if (resetPasswordForm.controls.password.invalid &&
            resetPasswordForm.touched &&
            resetPasswordForm.dirty) {
            <p>
                <i class="fa-solid fa-triangle-exclamation"></i>
                Password is invalid.
            </p>
            }

            <div class="input-container">
                <input [type]="showConfirmPassword() ? 'text' : 'password'" formControlName="confirmPassword"
                    placeholder="Confirm Password" autocomplete="off" autocorrect="off" autocapitalize="off"
                    spellcheck="false">
                <button type="button" (click)="togglePasswordVisibility('confirmPassword')">
                    @if (!showConfirmPassword()){
                    <i class="fa-solid fa-eye-slash"></i>
                    } @else {
                    <i class="fa-regular fa-eye"></i>
                    }
                </button>
            </div>

            @if (resetPasswordForm.invalid &&
            resetPasswordForm.controls.confirmPassword.touched &&
            resetPasswordForm.controls.confirmPassword.dirty) {
            <p>
                <i class="fa-solid fa-triangle-exclamation"></i>
                Passwords must match.
            </p>
            }

            <button type="submit" [disabled]="resetPasswordForm.invalid">
                @if (!isResetPasswordFormSubmitted()) {
                Reset my password
                } @else {
                <app-loading-spinner></app-loading-spinner>
                }
            </button>

        </form>
    </div>
</section>